In [26]:
import pandas as pd

In [27]:
lchin34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lchin34.csv')
lchin45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lchin45.csv')
lchin35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lchin35.csv')

lspan34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lspan34.csv')
lspan45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lspan45.csv')
lspan35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lspan35.csv')

lkor34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lkor34.csv')
lkor45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lkor45.csv')
lkor35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\lkor35.csv')

In [28]:
lchin34

,Unnamed: 0,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,21508.0,ap5,Chinese,3.0,2835.0,"Seven years ago, I traveled to Europe with my ...",0.txt,85,9,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,1,21050.0,ap5,Chinese,4.0,2808.0,Going abroad for me is a big challenge. I have...,1.txt,396,31,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,2,21680.0,ap5,Chinese,3.0,2859.0,The most exciting thing I think is everyday af...,2.txt,78,5,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,3,32317.0,ar8,Chinese,5.0,4256.0,China is the most populous state in the world ...,3.txt,182,13,...,1.0000,1.0000,0.0667,0.0667,1.1538,0.0667,0.5333,0.5333,1.6000,1.6000
4,4,32886.0,ar8,Chinese,5.0,4305.0,My parents are very good example to show me ho...,4.txt,174,11,...,2.0714,1.6429,0.3913,0.6429,1.2727,0.6429,0.2857,0.1739,1.1429,0.6957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,59,23939.0,fn8,Chinese,4.0,3105.0,I have an unforgettable weekend in my memory. ...,59.txt,132,15,...,1.3125,1.1250,0.1111,0.1250,1.0667,0.1250,0.0000,0.0000,0.5625,0.5000
60,60,20325.0,fn8,Chinese,3.0,2749.0,"Some things are important to type well. First,...",60.txt,90,11,...,1.8333,1.3333,0.2500,0.3333,1.0909,0.3333,0.0000,0.0000,0.5000,0.3750
61,61,23583.0,fn8,Chinese,4.0,3074.0,"Last summer, one Wednesday, my phone rang when...",61.txt,193,21,...,1.4545,1.3182,0.2414,0.3182,1.0476,0.3182,0.2727,0.2069,0.8182,0.6207
62,62,21920.0,fn8,Chinese,3.0,2872.0,The Jiaozi is a common Chinese dumpling. It is...,62.txt,205,19,...,1.4091,1.2727,0.2143,0.2727,1.1579,0.2273,0.3636,0.2857,0.8182,0.6429
63,63,21644.0,fn8,Chinese,3.0,2857.0,I asked some of my classmates the same questio...,63.txt,189,15,...,1.9333,1.6667,0.2000,0.3333,1.0000,0.2667,0.4000,0.2400,1.2667,0.7600

In [29]:
#merging all the chinese data from loose
chin=lchin34.merge(lchin45,how='outer').merge(lchin35,how='outer')
chin

,Unnamed: 0,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,21508.0,ap5,Chinese,3.0,2835.0,"Seven years ago, I traveled to Europe with my ...",0.txt,85,9,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,1,21050.0,ap5,Chinese,4.0,2808.0,Going abroad for me is a big challenge. I have...,1.txt,396,31,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,2,21680.0,ap5,Chinese,3.0,2859.0,The most exciting thing I think is everyday af...,2.txt,78,5,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,3,32317.0,ar8,Chinese,5.0,4256.0,China is the most populous state in the world ...,3.txt,182,13,...,1.0000,1.0000,0.0667,0.0667,1.1538,0.0667,0.5333,0.5333,1.6000,1.6000
4,4,32886.0,ar8,Chinese,5.0,4305.0,My parents are very good example to show me ho...,4.txt,174,11,...,2.0714,1.6429,0.3913,0.6429,1.2727,0.6429,0.2857,0.1739,1.1429,0.6957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,29,21471.0,bz2,Chinese,3.0,2835.0,"Last summer vacation, I went to Berkeley with ...",29.txt,185,17,...,1.3500,1.2500,0.1200,0.1500,1.1765,0.2000,0.1500,0.1200,0.5000,0.4000
399,30,22013.0,bz2,Chinese,4.0,2890.0,Stress comes from everywhere. Not only adults ...,30.txt,332,31,...,1.7188,1.2812,0.2927,0.3750,1.0323,0.3438,0.4375,0.3415,0.9062,0.7073
400,31,20640.0,bz2,Chinese,3.0,2764.0,"In the past, I used to wear uniform, and it is...",31.txt,121,7,...,3.3333,1.8889,0.2353,0.4444,1.2857,0.6667,0.0000,0.0000,0.1111,0.0588
401,32,21664.0,bz2,Chinese,3.0,2859.0,The most exciting thing that has happened to m...,32.txt,135,11,...,1.9091,1.5455,0.3529,0.5455,1.0000,0.3636,0.0909,0.0588,1.0000,0.6471
402,33,24601.0,bz2,Chinese,5.0,3226.0,"Every one likes vacation, either short vacatio...",33.txt,492,30,...,2.6571,1.7143,0.4333,0.7429,1.1667,0.5429,0.2000,0.1167,1.1714,0.6833

In [30]:
len(chin)

403

In [31]:
len(lchin34)+len(lchin45)+len(lchin35)

403

In [32]:
#dropping duplicates (could be in the group 3-4 and 3-5)
chin.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
chin.reset_index().drop(columns=['Unnamed: 0','index'])

,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,21508.0,ap5,Chinese,3.0,2835.0,"Seven years ago, I traveled to Europe with my ...",0.txt,85,9,12,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,21050.0,ap5,Chinese,4.0,2808.0,Going abroad for me is a big challenge. I have...,1.txt,396,31,56,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,21680.0,ap5,Chinese,3.0,2859.0,The most exciting thing I think is everyday af...,2.txt,78,5,14,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,15679.0,ax7,Chinese,4.0,2276.0,"Hi, I'm Klein [Last Name]. I have been recordi...",16.txt,147,11,24,...,1.6000,1.4000,0.1905,0.2667,1.3636,0.2667,0.0000,0.0000,0.4667,0.3333
4,16541.0,ax7,Chinese,4.0,2330.0,I like my house except its size. I love my hou...,17.txt,175,13,25,...,1.4706,1.1765,0.1500,0.1765,1.3077,0.1765,0.1176,0.1000,0.7647,0.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,21471.0,bz2,Chinese,3.0,2835.0,"Last summer vacation, I went to Berkeley with ...",29.txt,185,17,27,...,1.3500,1.2500,0.1200,0.1500,1.1765,0.2000,0.1500,0.1200,0.5000,0.4000
331,22013.0,bz2,Chinese,4.0,2890.0,Stress comes from everywhere. Not only adults ...,30.txt,332,31,55,...,1.7188,1.2812,0.2927,0.3750,1.0323,0.3438,0.4375,0.3415,0.9062,0.7073
332,20640.0,bz2,Chinese,3.0,2764.0,"In the past, I used to wear uniform, and it is...",31.txt,121,7,30,...,3.3333,1.8889,0.2353,0.4444,1.2857,0.6667,0.0000,0.0000,0.1111,0.0588
333,21664.0,bz2,Chinese,3.0,2859.0,The most exciting thing that has happened to m...,32.txt,135,11,21,...,1.9091,1.5455,0.3529,0.5455,1.0000,0.3636,0.0909,0.0588,1.0000,0.6471
334,24601.0,bz2,Chinese,5.0,3226.0,"Every one likes vacation, either short vacatio...",33.txt,492,30,93,...,2.6571,1.7143,0.4333,0.7429,1.1667,0.5429,0.2000,0.1167,1.1714,0.6833

In [33]:
#merging spanish data
span=lspan34.merge(lspan45,how='outer').merge(lspan35,how='outer')
span

,Unnamed: 0,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,33403.0,ch0,Spanish,4.0,4351.0,I like my room and it is important to me that ...,0.txt,150,9,...,2.4545,2.0909,0.4783,1.0000,1.2222,0.8182,0.0000,0.0000,0.8182,0.3913
1,1,34966.0,ch0,Spanish,4.0,4525.0,your old friend is who made you think about yo...,1.txt,62,3,...,4.3333,4.0000,0.7500,3.0000,1.0000,1.0000,0.6667,0.1667,3.0000,0.7500
2,2,29539.0,ch0,Spanish,3.0,3896.0,The are advantages of being bilingual in the m...,2.txt,167,10,...,2.5000,2.0000,0.5417,1.0833,1.2000,0.5000,0.1667,0.0833,1.6667,0.8333
3,3,32545.0,ch0,Spanish,4.0,4289.0,It's hard to think about that people need when...,3.txt,209,8,...,4.3333,2.7778,0.6400,1.7778,1.1250,0.6667,0.5556,0.2000,1.8889,0.6800
4,4,32720.0,ch0,Spanish,4.0,4304.0,"Sometimes, God gives us the possibility to be ...",4.txt,351,18,...,2.0000,1.6552,0.3958,0.6552,1.6111,0.4483,0.4138,0.2500,1.1724,0.7083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,18,35459.0,fy1,Spanish,4.0,4606.0,"I think I have to take matches, because with t...",18.txt,100,3,...,4.0000,2.8000,0.6429,1.8000,1.6667,0.6000,0.4000,0.1429,0.8000,0.2857
191,19,32628.0,fy1,Spanish,4.0,4303.0,"Hello, I am Rocio [Last Name], and I have been...",19.txt,129,8,...,1.8182,1.4545,0.3750,0.5455,1.3750,0.6364,0.2727,0.1875,1.2727,0.8750
192,20,29774.0,fy1,Spanish,3.0,3951.0,If I were going to be shipwrecked near a deser...,20.txt,73,5,...,3.4000,2.4000,0.4167,1.0000,1.0000,0.8000,0.2000,0.0833,0.6000,0.2500
193,21,33250.0,fy1,Spanish,5.0,4356.0,The outside listening talks about the similari...,21.txt,84,7,...,1.7143,1.4286,0.4000,0.5714,1.0000,0.4286,0.5714,0.4000,1.8571,1.3000
194,22,34624.0,fy1,Spanish,4.0,4549.0,A buddy is a person who is more than a common ...,22.txt,125,7,...,3.1429,2.8571,0.6500,1.8571,1.0000,1.0000,0.7143,0.2500,1.7143,0.6000

In [34]:
print(len(lspan34),len(lspan45),len(lspan35))

44 128 23

In [35]:
span.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
span.reset_index().drop(columns=['Unnamed: 0','index'])

,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,33403.0,ch0,Spanish,4.0,4351.0,I like my room and it is important to me that ...,0.txt,150,9,27,...,2.4545,2.0909,0.4783,1.0000,1.2222,0.8182,0.0000,0.0000,0.8182,0.3913
1,34966.0,ch0,Spanish,4.0,4525.0,your old friend is who made you think about yo...,1.txt,62,3,13,...,4.3333,4.0000,0.7500,3.0000,1.0000,1.0000,0.6667,0.1667,3.0000,0.7500
2,29539.0,ch0,Spanish,3.0,3896.0,The are advantages of being bilingual in the m...,2.txt,167,10,30,...,2.5000,2.0000,0.5417,1.0833,1.2000,0.5000,0.1667,0.0833,1.6667,0.8333
3,32545.0,ch0,Spanish,4.0,4289.0,It's hard to think about that people need when...,3.txt,209,8,39,...,4.3333,2.7778,0.6400,1.7778,1.1250,0.6667,0.5556,0.2000,1.8889,0.6800
4,32720.0,ch0,Spanish,4.0,4304.0,"Sometimes, God gives us the possibility to be ...",4.txt,351,18,58,...,2.0000,1.6552,0.3958,0.6552,1.6111,0.4483,0.4138,0.2500,1.1724,0.7083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,35459.0,fy1,Spanish,4.0,4606.0,"I think I have to take matches, because with t...",18.txt,100,3,20,...,4.0000,2.8000,0.6429,1.8000,1.6667,0.6000,0.4000,0.1429,0.8000,0.2857
145,32628.0,fy1,Spanish,4.0,4303.0,"Hello, I am Rocio [Last Name], and I have been...",19.txt,129,8,20,...,1.8182,1.4545,0.3750,0.5455,1.3750,0.6364,0.2727,0.1875,1.2727,0.8750
146,29774.0,fy1,Spanish,3.0,3951.0,If I were going to be shipwrecked near a deser...,20.txt,73,5,17,...,3.4000,2.4000,0.4167,1.0000,1.0000,0.8000,0.2000,0.0833,0.6000,0.2500
147,33250.0,fy1,Spanish,5.0,4356.0,The outside listening talks about the similari...,21.txt,84,7,12,...,1.7143,1.4286,0.4000,0.5714,1.0000,0.4286,0.5714,0.4000,1.8571,1.3000
148,34624.0,fy1,Spanish,4.0,4549.0,A buddy is a person who is more than a common ...,22.txt,125,7,22,...,3.1429,2.8571,0.6500,1.8571,1.0000,1.0000,0.7143,0.2500,1.7143,0.6000

In [36]:
#merging korean data
kor=lkor34.merge(lkor45,how='outer').merge(lkor35,how='outer')
kor

,Unnamed: 0,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,10736.0,aa9,Korean,4.0,1517.0,Everyone wishes to live in a nice life and me ...,0.txt,85,9,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,1,4654.0,aa9,Korean,3.0,552.0,"Dear Alok, I have a problem want to share with...",1.txt,396,31,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,2,2600.0,aa9,Korean,3.0,302.0,"While I was taking the trolley yesterday, I sa...",2.txt,78,5,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,3,6634.0,aa9,Korean,4.0,1021.0,"My name is xxx, but my teachers and my classma...",3.txt,182,13,...,1.0000,1.0000,0.0667,0.0667,1.1538,0.0667,0.5333,0.5333,1.6000,1.6000
4,4,7229.0,aa9,Korean,4.0,1091.0,I met my friend Ming for 4 years ago. We studi...,4.txt,174,11,...,2.0714,1.6429,0.3913,0.6429,1.2727,0.6429,0.2857,0.1739,1.1429,0.6957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,21,32592.0,bv9,Korean,4.0,4288.0,"Hello, I'm Junyoung. I'm from South Korea, and...",21.txt,77,7,...,1.6250,1.5000,0.2500,0.3750,1.1429,0.3750,0.1250,0.0833,0.6250,0.4167
375,22,32546.0,bv9,Korean,4.0,4289.0,The finding an apartment in Pittsburgh is too ...,22.txt,155,16,...,1.6111,1.6111,0.4138,0.6667,1.1250,0.4444,0.0556,0.0345,1.0000,0.6207
376,23,34442.0,bv9,Korean,4.0,4525.0,I agree with this proverb that make me think a...,23.txt,97,9,...,1.9000,1.8000,0.3889,0.7000,1.1111,0.5000,0.1000,0.0556,0.9000,0.5000
377,24,28583.0,bv9,Korean,3.0,3790.0,My country changed everything. When i was chil...,24.txt,270,19,...,1.7692,1.3846,0.2222,0.3077,1.3684,0.2692,0.0769,0.0556,1.1538,0.8333
378,25,32069.0,bv9,Korean,4.0,4236.0,My partner's name is QinTian. His name mean is...,25.txt,63,5,...,2.3333,1.8333,0.5455,1.0000,1.2000,0.5000,0.1667,0.0909,1.0000,0.5455

In [37]:
print(len(lkor34),len(lkor45),len(lkor35))

64 289 26

In [38]:
kor.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
kor.reset_index().drop(columns=['Unnamed: 0','index'])

,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,10736.0,aa9,Korean,4.0,1517.0,Everyone wishes to live in a nice life and me ...,0.txt,85,9,12,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,4654.0,aa9,Korean,3.0,552.0,"Dear Alok, I have a problem want to share with...",1.txt,396,31,56,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,2600.0,aa9,Korean,3.0,302.0,"While I was taking the trolley yesterday, I sa...",2.txt,78,5,14,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,6634.0,aa9,Korean,4.0,1021.0,"My name is xxx, but my teachers and my classma...",3.txt,182,13,15,...,1.0000,1.0000,0.0667,0.0667,1.1538,0.0667,0.5333,0.5333,1.6000,1.6000
4,7229.0,aa9,Korean,4.0,1091.0,I met my friend Ming for 4 years ago. We studi...,4.txt,174,11,29,...,2.0714,1.6429,0.3913,0.6429,1.2727,0.6429,0.2857,0.1739,1.1429,0.6957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,32592.0,bv9,Korean,4.0,4288.0,"Hello, I'm Junyoung. I'm from South Korea, and...",21.txt,77,7,13,...,1.6250,1.5000,0.2500,0.3750,1.1429,0.3750,0.1250,0.0833,0.6250,0.4167
323,32546.0,bv9,Korean,4.0,4289.0,The finding an apartment in Pittsburgh is too ...,22.txt,155,16,29,...,1.6111,1.6111,0.4138,0.6667,1.1250,0.4444,0.0556,0.0345,1.0000,0.6207
324,34442.0,bv9,Korean,4.0,4525.0,I agree with this proverb that make me think a...,23.txt,97,9,19,...,1.9000,1.8000,0.3889,0.7000,1.1111,0.5000,0.1000,0.0556,0.9000,0.5000
325,28583.0,bv9,Korean,3.0,3790.0,My country changed everything. When i was chil...,24.txt,270,19,46,...,1.7692,1.3846,0.2222,0.3077,1.3684,0.2692,0.0769,0.0556,1.1538,0.8333
326,32069.0,bv9,Korean,4.0,4236.0,My partner's name is QinTian. His name mean is...,25.txt,63,5,14,...,2.3333,1.8333,0.5455,1.0000,1.2000,0.5000,0.1667,0.0909,1.0000,0.5455

In [42]:
#merging all to create loose dataset
SCAloose=chin.merge(span,how='outer').merge(kor,how='outer')
SCAloose.drop(columns=['Unnamed: 0'],inplace=True)
SCAloose

,answer_id,anon_id,L1,level_id,question_id,text3 (edits made to fix word counts),text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,21508.0,ap5,Chinese,3.0,2835.0,"Seven years ago, I traveled to Europe with my ...",0.txt,85,9,12,...,1.2000,1.0000,0.0000,0.0000,1.1111,0.0000,0.1000,0.1000,0.8000,0.8000
1,21050.0,ap5,Chinese,4.0,2808.0,Going abroad for me is a big challenge. I have...,1.txt,396,31,56,...,1.6471,1.4118,0.2500,0.3529,1.0968,0.2941,0.3529,0.2500,0.9118,0.6458
2,21680.0,ap5,Chinese,3.0,2859.0,The most exciting thing I think is everyday af...,2.txt,78,5,14,...,2.8000,2.0000,0.3000,0.6000,1.0000,0.6000,0.4000,0.2000,1.0000,0.5000
3,15679.0,ax7,Chinese,4.0,2276.0,"Hi, I'm Klein [Last Name]. I have been recordi...",16.txt,147,11,24,...,1.6000,1.4000,0.1905,0.2667,1.3636,0.2667,0.0000,0.0000,0.4667,0.3333
4,16541.0,ax7,Chinese,4.0,2330.0,I like my house except its size. I love my hou...,17.txt,175,13,25,...,1.4706,1.1765,0.1500,0.1765,1.3077,0.1765,0.1176,0.1000,0.7647,0.6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,32592.0,bv9,Korean,4.0,4288.0,"Hello, I'm Junyoung. I'm from South Korea, and...",21.txt,77,7,13,...,1.6250,1.5000,0.2500,0.3750,1.1429,0.3750,0.1250,0.0833,0.6250,0.4167
807,32546.0,bv9,Korean,4.0,4289.0,The finding an apartment in Pittsburgh is too ...,22.txt,155,16,29,...,1.6111,1.6111,0.4138,0.6667,1.1250,0.4444,0.0556,0.0345,1.0000,0.6207
808,34442.0,bv9,Korean,4.0,4525.0,I agree with this proverb that make me think a...,23.txt,97,9,19,...,1.9000,1.8000,0.3889,0.7000,1.1111,0.5000,0.1000,0.0556,0.9000,0.5000
809,28583.0,bv9,Korean,3.0,3790.0,My country changed everything. When i was chil...,24.txt,270,19,46,...,1.7692,1.3846,0.2222,0.3077,1.3684,0.2692,0.0769,0.0556,1.1538,0.8333
810,32069.0,bv9,Korean,4.0,4236.0,My partner's name is QinTian. His name mean is...,25.txt,63,5,14,...,2.3333,1.8333,0.5455,1.0000,1.2000,0.5000,0.1667,0.0909,1.0000,0.5455

In [43]:
len(span)+len(chin)+len(kor)

811

In [44]:
#sending to csv file
SCAloose.to_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Merge/SCAloose.csv')

# Merging Whole dataset SCA analysis

In [45]:
wchin34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wchin34.csv')
wchin45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wchin45.csv')
wchin35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wchin35.csv')

wspan34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wspan34.csv')
wspan45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wspan45.csv')
wspan35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wspan35.csv')

wkor34=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wkor34.csv')
wkor45=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wkor45.csv')
wkor35=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Analysis\wkor35.csv')

In [70]:
#merging chinese data
wchin=wchin34.merge(wchin45,how='outer').merge(wchin35,how='outer')
wchin

In [71]:
wchin.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
wchin=wchin.reset_index()
wchin.drop(columns=['Unnamed: 0','index'],inplace=True)
print(len(wchin))
wchin.head()

2148

,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,fy3,Chinese,15302,2220,I think his advice is really nice and clear. A...,4,3.txt,115,8,30,...,3.0000,2.2000,0.5455,1.2000,1.2500,0.9000,0.2000,0.0909,1.2000,0.5455
1,fy3,Chinese,16025,2282,I think Martin is true. Because she do solve a...,4,4.txt,133,13,24,...,1.8462,1.6923,0.4545,0.7692,1.0000,0.6154,0.1538,0.0909,1.1538,0.6818
2,dm4,Chinese,2561,291,Are there different cultural expectations of s...,4,67.txt,356,14,57,...,3.3529,2.8824,0.3265,0.9412,1.2143,0.6471,0.5294,0.1837,1.4706,0.5102
3,dm4,Chinese,2618,303,Are there different cultural expectations of s...,4,68.txt,397,21,62,...,2.6957,2.2174,0.4314,0.9565,1.0952,0.5652,0.5652,0.2549,1.3043,0.5882
4,dm4,Chinese,3019,354,Different cultural expectations of success I ...,4,69.txt,546,32,89,...,2.5429,2.0286,0.3521,0.7143,1.0938,0.4571,0.5714,0.2817,1.2000,0.5915

In [72]:
#merging spanish
wspan=wspan34.merge(wspan45,how='outer').merge(wspan35,how='outer')
wspan

,Unnamed: 0,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,fa2,Spanish,18485,2533,Nowdays people are concerned about global warm...,5,0.txt,116,11,...,1.6364,1.2727,0.2143,0.2727,1.0000,0.2727,0.2727,0.2143,1.3636,1.0714
1,1,fa2,Spanish,19111,2587,Another effort is underway to financially comp...,5,1.txt,74,5,...,4.0000,3.0000,0.6667,2.0000,0.4000,0.5000,1.5000,0.5000,5.5000,1.8333
2,2,fa2,Spanish,19113,2589,"In dissent, Justice John Paul Stevens supporte...",5,2.txt,88,5,...,3.0000,1.6667,0.4000,0.6667,0.6000,0.3333,0.3333,0.2000,4.6667,2.8000
3,3,fa2,Spanish,19114,2590,Water is also a key element of NASA's long-ran...,5,3.txt,97,4,...,3.3333,1.3333,0.5000,0.6667,0.7500,0.3333,2.3333,1.7500,4.0000,3.0000
4,4,fa2,Spanish,19510,2642,The resort has nine pools and 12 tennis courts...,5,4.txt,16,1,...,1.0000,1.0000,0.0000,0.0000,1.0000,0.0000,1.0000,1.0000,1.0000,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,103,bj2,Spanish,35929,4675,"1. Before you can enter a Japanese tea house, ...",4,103.txt,64,10,...,1.0000,1.1000,0.4545,0.5000,1.0000,0.5000,0.0000,0.0000,0.5000,0.4545
533,104,bj2,Spanish,36393,4727,Evolution Valley: An Amazing Experience La...,4,104.txt,432,33,...,1.8571,1.3429,0.2766,0.3714,1.0606,0.3429,0.2857,0.2128,1.5429,1.1489
534,105,bj2,Spanish,36990,4794,Reading Makes Me Happy Happiness is like t...,4,105.txt,539,32,...,2.3235,1.7941,0.4098,0.7353,1.0625,0.5588,0.4118,0.2295,2.2941,1.2787
535,106,bj2,Spanish,37029,4794,Reading Makes Me Happy Happiness is like t...,4,106.txt,559,34,...,2.2162,1.7027,0.3968,0.6757,1.0882,0.5135,0.3784,0.2222,2.1351,1.2540
536,107,bj2,Spanish,37485,4868,"Hernan [Last Name] Wrinting 4 July 8, 2010. ...",4,107.txt,666,43,...,2.4419,1.6279,0.4143,0.6744,1.0000,0.5116,0.3023,0.1857,2.5581,1.5714

In [73]:
wspan.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
wspan=wspan.reset_index()
wspan.drop(columns=['Unnamed: 0','index'],inplace=True)
print(len(wspan))
wspan.head()

347

,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,en3,Spanish,20906,2773,OUTLINE professional life academic life person...,4,26.txt,788,38,105,...,2.2340,1.4255,0.3134,0.4468,1.2368,0.3830,0.6170,0.4328,1.8085,1.2687
1,en3,Spanish,21333,2773,OUTLINE professional life academic life person...,4,27.txt,788,38,105,...,2.2340,1.4255,0.3134,0.4468,1.2368,0.3830,0.6170,0.4328,1.8085,1.2687
2,en3,Spanish,21913,2866,Pittsburgh is my new hometown since September ...,4,28.txt,313,18,38,...,1.7273,1.3636,0.2667,0.3636,1.2222,0.3636,0.2273,0.1667,1.1818,0.8667
3,en3,Spanish,16015,2284,Learn English is very easy if you has a lot of...,3,29.txt,125,8,12,...,1.7143,1.1429,0.5000,0.5714,0.8750,0.4286,0.5714,0.5000,1.7143,1.5000
4,en3,Spanish,16627,2334,Sometimes hard work is like good salary but so...,3,30.txt,154,9,14,...,1.4000,1.3000,0.2308,0.3000,1.1111,0.3000,0.6000,0.4615,1.5000,1.1538

In [74]:
#merging korean data
wkor=wkor34.merge(wkor45,how='outer').merge(wkor35,how='outer')
wkor

,Unnamed: 0,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,0,ca6,Korean,15306,2220,I really impressed when I read Dr. Schwartz's...,4,0.txt,281,16,...,3.1875,1.8750,0.4667,0.8750,1.0000,0.6250,0.6875,0.3667,2.5000,1.3333
1,1,ca6,Korean,16027,2282,"In my opinion, I don't believe unexplainable m...",4,1.txt,120,7,...,2.1429,1.8571,0.3077,0.5714,1.0000,0.5714,0.8571,0.4615,2.0000,1.0769
2,2,ca6,Korean,18128,2493,"If I'm going to start a business, I'll use th...",4,2.txt,212,11,...,2.6667,1.7500,0.4286,0.7500,1.0909,0.5833,0.7500,0.4286,2.3333,1.3333
3,3,co5,Korean,15314,2220,She suggested several tips of online dating. ...,4,3.txt,231,19,...,2.0000,1.5789,0.3333,0.5263,1.0000,0.4737,0.1579,0.1000,1.4211,0.9000
4,4,co5,Korean,16029,2282,I am convinced that Martin really has psychic...,4,4.txt,117,8,...,1.8182,1.8182,0.4000,0.7273,1.3750,0.5455,0.0909,0.0500,1.5455,0.8500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4313,790,cv3,Korean,42109,5370,"1. When I was a child, I liked to play with do...",5,790.txt,88,13,...,1.4615,1.5385,0.3000,0.4615,1.0000,0.4615,0.0000,0.0000,0.2308,0.1500
4314,791,cv3,Korean,42110,5370,"1. When I was a child, I liked to play with do...",5,791.txt,127,19,...,1.4737,1.5789,0.3333,0.5263,1.0000,0.4737,0.0000,0.0000,0.2632,0.1667
4315,792,cv3,Korean,42795,5457,My topic for essay #3 is about school uniform....,5,792.txt,107,7,...,3.1667,2.5000,0.5333,1.3333,0.8571,0.8333,0.1667,0.0667,2.1667,0.8667
4316,793,cv3,Korean,42857,5469,I. Introduction A. Wearing school uniform is ...,5,793.txt,186,9,...,2.7273,1.5455,0.3529,0.5455,1.2222,0.2727,0.3636,0.2353,1.7273,1.1176
4317,794,cv3,Korean,43067,5492,"1. Beethoven, becoming totally deaf in mid-lif...",5,794.txt,148,19,...,1.0909,1.0909,0.0833,0.0909,1.1579,0.0909,0.0000,0.0000,0.7727,0.7083

In [75]:
wkor.drop_duplicates(subset=['answer_id'],keep='last',inplace=True)
wkor=wkor.reset_index()
wkor.drop(columns=['Unnamed: 0','index'],inplace=True)
print(len(wkor))
wkor.head()

2731

,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,ca6,Korean,15306,2220,I really impressed when I read Dr. Schwartz's...,4,0.txt,281,16,51,...,3.1875,1.8750,0.4667,0.8750,1.0000,0.6250,0.6875,0.3667,2.5000,1.3333
1,ca6,Korean,16027,2282,"In my opinion, I don't believe unexplainable m...",4,1.txt,120,7,15,...,2.1429,1.8571,0.3077,0.5714,1.0000,0.5714,0.8571,0.4615,2.0000,1.0769
2,ca6,Korean,18128,2493,"If I'm going to start a business, I'll use th...",4,2.txt,212,11,32,...,2.6667,1.7500,0.4286,0.7500,1.0909,0.5833,0.7500,0.4286,2.3333,1.3333
3,fv7,Korean,2813,312,I do many things when I study. For example I ...,3,53.txt,105,11,20,...,1.8182,1.7273,0.4211,0.7273,1.0000,0.5455,0.1818,0.1053,0.8182,0.4737
4,fv7,Korean,3836,419,My topic is young people. I think that young p...,3,54.txt,173,16,30,...,1.8750,1.5625,0.3600,0.5625,1.0000,0.5000,0.3125,0.2000,1.0000,0.6400

In [81]:
#merging all
SCAwhole=wchin.merge(wspan,how='outer').merge(wkor,how='outer')
SCAwhole

,anon_id,native_language,answer_id,question_id,text,level_id,text file name,W,S,VP,...,VP/T,C/T,DC/C,DC/T,T/S,CT/T,CP/T,CP/C,CN/T,CN/C
0,fy3,Chinese,15302,2220,I think his advice is really nice and clear. A...,4,3.txt,115,8,30,...,3.0000,2.2000,0.5455,1.2000,1.2500,0.9000,0.2000,0.0909,1.2000,0.5455
1,fy3,Chinese,16025,2282,I think Martin is true. Because she do solve a...,4,4.txt,133,13,24,...,1.8462,1.6923,0.4545,0.7692,1.0000,0.6154,0.1538,0.0909,1.1538,0.6818
2,dm4,Chinese,2561,291,Are there different cultural expectations of s...,4,67.txt,356,14,57,...,3.3529,2.8824,0.3265,0.9412,1.2143,0.6471,0.5294,0.1837,1.4706,0.5102
3,dm4,Chinese,2618,303,Are there different cultural expectations of s...,4,68.txt,397,21,62,...,2.6957,2.2174,0.4314,0.9565,1.0952,0.5652,0.5652,0.2549,1.3043,0.5882
4,dm4,Chinese,3019,354,Different cultural expectations of success I ...,4,69.txt,546,32,89,...,2.5429,2.0286,0.3521,0.7143,1.0938,0.4571,0.5714,0.2817,1.2000,0.5915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5221,cv3,Korean,42109,5370,"1. When I was a child, I liked to play with do...",5,790.txt,88,13,19,...,1.4615,1.5385,0.3000,0.4615,1.0000,0.4615,0.0000,0.0000,0.2308,0.1500
5222,cv3,Korean,42110,5370,"1. When I was a child, I liked to play with do...",5,791.txt,127,19,28,...,1.4737,1.5789,0.3333,0.5263,1.0000,0.4737,0.0000,0.0000,0.2632,0.1667
5223,cv3,Korean,42795,5457,My topic for essay #3 is about school uniform....,5,792.txt,107,7,19,...,3.1667,2.5000,0.5333,1.3333,0.8571,0.8333,0.1667,0.0667,2.1667,0.8667
5224,cv3,Korean,42857,5469,I. Introduction A. Wearing school uniform is ...,5,793.txt,186,9,30,...,2.7273,1.5455,0.3529,0.5455,1.2222,0.2727,0.3636,0.2353,1.7273,1.1176
5225,cv3,Korean,43067,5492,"1. Beethoven, becoming totally deaf in mid-lif...",5,794.txt,148,19,24,...,1.0909,1.0909,0.0833,0.0909,1.1579,0.0909,0.0000,0.0000,0.7727,0.7083

In [82]:
#sending to csv file
SCAwhole.to_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\SCA_Merge/SCAwhole.csv')

# Turning essays from Loose and Whole into txt files for SCA analysis

In [50]:
sp=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\CSV\same_probe.csv')

In [52]:
sp.reset_index()

,index,L1,question_id,anon_id,text3_len,wordtype_len,level_id,answer_id,text3 (edits made to fix word counts),processed_text
0,0,Chinese,17,aj8,114,74,5,141,"Today, I am going to describe one of my classm...",today i am going to describe one of my classma...
1,1,Korean,17,at8,105,60,5,135,my friend is ANON_NAME_0. she is a my ELI frie...,my friend is anonname0 she is a my eli friend ...
2,2,Korean,17,az2,128,72,5,133,"When I was in Germany, I met a friend who was ...",when i was in germany i met a friend who was f...
3,3,Chinese,17,az8,95,67,5,143,My niece is 3 years old who is my younger brot...,my niece is 3 years old who is my younger brot...
4,4,Spanish,17,ea7,99,61,5,136,My mother is the most beautiful person that I ...,my mother is the most beautiful person that i ...
...,...,...,...,...,...,...,...,...,...,...
1803,1803,Korean,6070,ec1,138,80,4,47845,My best friend is Sohyun who graduated from th...,my best friend is sohyun who graduated from th...
1804,1804,Chinese,6070,fk2,84,57,4,47868,Annie is my best friend who is also my schoolm...,annie is my best friend who is also my schoolm...
1805,1805,Spanish,6105,bl3,146,93,4,48252,This quotation means that the majority of peop...,this quotation means that the majority of peop...
1806,1806,Chinese,6105,bv8,131,73,4,48246,The quote that talks about a true friend is so...,the quote that talks about a true friend is so...
1807,1807,Korean,6105,dr8,162,79,4,48254,I think this means that home is not just a pla...,i think this means that home is not just a pla...

In [63]:
#sending each essay from loose dataset for sca analysis
for i in sp.index:
    essay=sp.at[i,'text3 (edits made to fix word counts)']
    file=open('C:\\Users\Hanna\Documents\L2SCA_R\corpusALE/'+str(i)+'.txt','w')
    file.write(essay)
    file.close()

In [64]:
whole=pd.read_csv('C:\\Users\Hanna\Documents\GitHub\LRDC-Research\CSV\whole_no_duplicates.csv')

In [68]:
whole.drop(columns=['Unnamed: 0'],inplace=True)

In [69]:
whole

,index,anon_id,native_language,answer_id,question_id,text_len,text,level_id,processed_text,wordtype_len
0,0,ax4,Chinese,954,48,479,The Effects on Students Who Have a Part-time J...,5,the effects on students who have a parttime jo...,166
1,1,ax4,Chinese,1219,97,259,There are many different kinds of people in th...,5,there are many different kinds of people in th...,105
2,2,ax4,Chinese,1257,74,548,Should the Death Penalty Exist\nThe death pena...,5,should the death penalty exist the death penal...,191
3,3,ax4,Chinese,1260,119,576,Should the Death Penalty Exist?\nThe death pen...,5,should the death penalty exist the death penal...,213
4,4,ax4,Chinese,2162,190,180,The nationality rooms built in the Cathedral o...,5,the nationality rooms built in the cathedral o...,90
...,...,...,...,...,...,...,...,...,...,...
6672,7534,ew6,Chinese,48035,6087,111,I participated student organization in univers...,3,i participated student organization in univers...,66
6673,7535,ew6,Chinese,48338,6119,140,My ideal home is big and modern. It is located...,3,my ideal home is big and modern it is located ...,84
6674,7536,cz3,Korean,47451,6027,102,I will put 5 items in time capsule such as som...,3,i will put 5 items in time capsule such as som...,67
6675,7537,cz3,Korean,48001,6087,104,I have studied Visual Design since 2002. I gra...,3,i have studied visual design since 2002 i grad...,57
6676,7538,cz3,Korean,48316,6119,70,I will describe about my ideal home. I want qu...,3,i will describe about my ideal home i want qui...,51

In [76]:
#sending them for sca analysis
for i in whole.index:
    essay=whole.at[i,'text']
    file=open('C:\\Users\Hanna\Documents\WHOLE/'+str(i)+'.txt','w')
    file.write(essay)
    file.close()